@tailwind base;
@tailwind components;
@tailwind utilities;

.intro-logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.intro-logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.intro-logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.category {
  -ms-overflow-style: none;
}

.category::-webkit-scrollbar {
  display: none;
}

.scrollLayout::-webkit-scrollbar {
  display: none;
}
